/* js-jq-carousel */

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

/* UTILITIES */

.hidden {
  display: none;
}

.active {
  display: block;
}

/* MAIN */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(51,71,91, .6);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 800px;
  height: 500px;
  border-radius: 5%;
}

.box {
  display: flex;
  flex-grow: 1;
}

.arrow {
  display: flex;
  flex-grow: 1;
  margin: 30px;
}


.arrow i {
  cursor: pointer;
  font-size: 30px;
}
