/* js-jq-carousel */

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */

.hidden {
  display: none;
}

.active {
  display: block;
}

/* MAIN */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(51,71,91, .6);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 800px;
  height: 500px;
  border-radius: 5%;
}

.box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 10px;
}

.dots i {
  padding: 0 5px;
  cursor: pointer;
}

.active-dot {
  color: dodgerblue;
}

.white-dot {
  color: #fff;
}

.arrow {
  display: flex;
  flex-grow: 1;
  margin: 30px;
}


.arrow i {
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
}
